<div class="container">
  <h1 class="titulo">
    TITULO
  </h1>

  <div class="row" style="background-color: yellow;">
    FILA
    <div class="col-sm-12" style="background-color: chocolate;">
      columna 12
    </div>
    <div class="col-sm-6" style="background-color: green;">
      columna 6
    </div>
    <div class="col-sm-6" style="background-color: goldenrod;">
      columna 6
    </div>
    <div class="col-sm-4" style="background-color: rebeccapurple;">
      columna 4
    </div>
    <div class="col-sm-4" style="background-color: red;">
      columna 4
    </div>
    <div class="col-sm-4" style="background-color: gray;">
      columna 4
    </div>
  </div>

</div>
<div>
</div>
<h1>DIRECTIVAS</h1>

<h2>angular => ngIf</h2>
<button type="button" class="btn btn-outline-success" (click)="eventoClick()">Success</button>
<p *ngIf="esconderHola">hola</p>

<h2>angular => ngfor</h2>
{{arregloNumeros}}
<li *ngFor="let numero of arregloNumeros">
  <ul>{{numero.nombre}}</ul>
</li>

<h1>EMMET</h1>

<div class="titulo"></div>

<div class="row titulo"></div>

<div class="nombreClase">

</div>

<div class="row">
  <div class="col-sm-12"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
</div>

<!-- Hacer responsive -->
<div class="row">
<div class="col-ms-1"></div>
<div class="col-ms-1"></div>
<div class="col-ms-1"></div>
<div class="col-ms-1"></div>
<div class="col-ms-1"></div>
<div class="col-ms-1"></div>
<div class="col-ms-1"></div>
<div class="col-ms-1"></div>
<div class="col-ms-1"></div>
<div class="col-ms-1"></div>
<div class="col-ms-1"></div>
<div class="col-ms-1"></div> 
</div>
<!-------------------------------PAGINA TOMADA------------------ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr" >
<head>
	
<title>script</title></head>

<body class="normal" dir="ltr">

	<div id="all-wrap">
		<div id="all-hd" class="clear">
			<div class="inner clear">
				<div id="header" class="clear">
					<div id="ws_logo" class="clear">
						<a href="https://www.quito.gob.ec"><img src="https://www.quito.gob.ec/templates/ezone/img/logos/logows.png" alt="logo" /></a>
					</div>
					<div class="moduletable m_menu-top">
						
						<ul class="menu">
							<li class="item-132"><a href="http://www.quito.gob.ec/index.php/mapa-del-sitio" target="_blank" >Mapa del Sitio</a></li><li class="item-301"><a href="https://correo.quito.gob.ec/owa/auth/logon.aspx?replaceCurrent=1&amp;url=https%3a%2f%2fcorreo.quito.gob.ec%2fowa%2f" target="_blank" >Correo institucional</a></li><li class="item-321"><a href="/index.php/contactenos" >Contáctenos</a></li></ul>
						</div>
						<div class="moduletable m_search">
							<form action="/index.php" method="post">
								<div class="search m_search">
									<label for="mod-search-searchword">Buscar...</label><input name="searchword" id="mod-search-searchword" maxlength="20"  class="inputbox m_search" type="text" size="25" value="Buscar..."  onblur="if (this.value=='') this.value='Buscar...';" onfocus="if (this.value=='Buscar...') this.value='';" /><input type="submit" value="Buscar" class="button m_search" onclick="this.form.searchword.focus();"/>	<input type="hidden" name="task" value="search" />
									<input type="hidden" name="option" value="com_search" />
									<input type="hidden" name="Itemid" value="113" />
								</div>
							</form>
						</div>
						
					</div>
					
					<div id="menu" class="clear">
						<div class="moduletable m_menu">
							
		<!--[if lte IE 7]>
		<link href="/modules/mod_maximenuck/themes/css3megamenu/css/ie7.css" rel="stylesheet" type="text/css" />
	<![endif]--><!-- debut Maximenu CK, par cedric keiflin -->
	<div class="maximenuckh" id="mainmenu" style="z-index:10;">
		<div class="maxiroundedleft"></div>
		<div class="maxiroundedcenter">

			<ul class="menu m_menu maximenuck" style="">
				<li class="maximenuck item101 current active first level1 " style="z-index : 12000;"><a class="maximenuck " href="/"><span class="titreck">Inicio</span></a>
				</li><li class="maximenuck item109 parent level1 " style="z-index : 11999;"><a class="maximenuck " href="/index.php/municipio"><span class="titreck">Municipio</span></a>
					<div class="floatck" ><div class="maxidrop-top"><div class="maxidrop-top2"></div></div><div class="maxidrop-main"><div class="maxidrop-main2"><div class="maximenuck2 first " >
						<ul class="maximenuck2"><li class="maximenuck item110 first level2 " style="z-index : 11998;"><a class="maximenuck " href="/index.php/municipio/concejo-metropolitano"><span class="titreck">Concejo Metropolitano</span></a>
						</li><li class="maximenuck item131 level2 " style="z-index : 11997;"><a class="maximenuck " href="/index.php/municipio/convocatoria"><span class="titreck">Convocatoria Concursos de Mérito y Oposición</span></a>
						</li><li class="maximenuck item285 level2 " style="z-index : 11996;"><a class="maximenuck " href="http://www7.quito.gob.ec/mdmq_ordenanzas/" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes');return false;" ><span class="titreck">Ordenanzas y resoluciones metropolitanas</span></a>
						</li><li class="maximenuck item381 level2 " style="z-index : 11995;"><a class="maximenuck " href="/index.php/municipio/anuncios"><span class="titreck">Anuncios</span></a>
						</li><li class="maximenuck item133 parent level2 " style="z-index : 11994;"><a class="maximenuck " href="/index.php/municipio/relaciones-internacionales"><span class="titreck">Relaciones Internacionales</span></a>
							<div class="floatck" ><div class="maxidrop-top"><div class="maxidrop-top2"></div></div><div class="maxidrop-main"><div class="maxidrop-main2"><div class="maximenuck2 first " >
								<ul class="maximenuck2"><li class="maximenuck item213 first level3 " style="z-index : 11993;"><a class="maximenuck " href="/index.php/municipio/relaciones-internacionales/direccion-de-relaciones-internacionales"><span class="titreck">Dirección de Relaciones Internacionales</span></a>
								</li><li class="maximenuck item214 level3 " style="z-index : 11992;"><a class="maximenuck " href="/index.php/municipio/relaciones-internacionales/quito-reconocida-en-el-mundo"><span class="titreck">Quito reconocida en el Mundo</span></a>
								</li><li class="maximenuck item215 level3 " style="z-index : 11991;"><a class="maximenuck " href="/index.php/municipio/relaciones-internacionales/quito-en-el-siglo-xxi"><span class="titreck">Quito en el Siglo XXI</span></a>
								</li><li class="maximenuck item216 level3 " style="z-index : 11990;"><a class="maximenuck " href="/index.php/municipio/relaciones-internacionales/cooperacion-para-el-desarrollo-de-la-agenda-del-municipio-de-quito"><span class="titreck">	Cooperación para el Desarrollo de la Agenda del Municipio de Quito</span></a>
								</li><li class="maximenuck item217 level3 " style="z-index : 11989;"><a class="maximenuck " href="/index.php/municipio/relaciones-internacionales/compromisos-internacionales-del-municipio-de-quito"><span class="titreck">Compromisos Internacionales del Municipio de Quito</span></a>
								</li><li class="maximenuck item218 level3 " style="z-index : 11988;"><a class="maximenuck " href="/index.php/municipio/relaciones-internacionales/hermanamientos-de-ciudades"><span class="titreck">Hermanamientos de Ciudades</span></a>
								</li><li class="maximenuck item314 last level3 " style="z-index : 11987;"><a class="maximenuck " href="/index.php/municipio/relaciones-internacionales/redes-de-ciudades"><span class="titreck">Redes de ciudades</span></a>
								</li>
							</ul>
							<div class="clr"></div></div><div class="clr"></div></div></div><div class="maxidrop-bottom"><div class="maxidrop-bottom2"></div></div></div>
						</li><li class="maximenuck item302 level2 " style="z-index : 11986;"><a class="maximenuck " href="http://190.152.144.126:8282/" target="_blank" ><span class="titreck">Seguimiento a los compromisos municipales</span></a>
						</li><li class="maximenuck item377 last level2 " style="z-index : 11985;"><a class="maximenuck " href="https://drive.google.com/file/d/18G5nfixJq0SVGCiFAhyvqirsPhYmgbof/view" target="_blank" ><span class="titreck">Quito Visión 2040 y su nuevo modelo de ciudad</span></a>
						</li>
					</ul>
					<div class="clr"></div></div><div class="clr"></div></div></div><div class="maxidrop-bottom"><div class="maxidrop-bottom2"></div></div></div>
				</li><li class="maximenuck item111 level1 " style="z-index : 11984;"><a class="maximenuck " href="https://pam.quito.gob.ec" target="_blank" ><span class="titreck">Servicios Ciudadanos</span></a>
				</li><li class="maximenuck item134 level1 " style="z-index : 11983;"><a class="maximenuck " href="http://www.quito.com.ec" target="_blank" ><span class="titreck">Turismo</span></a>
				</li><li class="maximenuck item211 level1 " style="z-index : 11982;"><a class="maximenuck " href="http://www.quitoinforma.gob.ec" target="_blank" ><span class="titreck">Noticias</span></a>
				</li><li class="maximenuck item171 parent level1 " style="z-index : 11981;"><a class="maximenuck " href="/index.php/quito-por-temas"><span class="titreck">Quito por Temas</span></a>
					<div class="floatck" ><div class="maxidrop-top"><div class="maxidrop-top2"></div></div><div class="maxidrop-main"><div class="maxidrop-main2"><div class="maximenuck2 first " >
						<ul class="maximenuck2"><li class="maximenuck item268 first level2 " style="z-index : 11980;"><a class="maximenuck " href="/index.php/quito-por-temas/ambiente"><span class="titreck">Ambiente</span></a>
						</li><li class="maximenuck item269 level2 " style="z-index : 11979;"><a class="maximenuck " href="/index.php/quito-por-temas/cultura"><span class="titreck">Cultura</span></a>
						</li><li class="maximenuck item271 level2 " style="z-index : 11978;"><a class="maximenuck " href="/index.php/quito-por-temas/desarrollo-productivo-y-competitividad"><span class="titreck">Desarrollo Productivo y competitividad</span></a>
						</li><li class="maximenuck item273 level2 " style="z-index : 11977;"><a class="maximenuck " href="/index.php/quito-por-temas/educacion"><span class="titreck">Educación</span></a>
						</li><li class="maximenuck item272 level2 " style="z-index : 11976;"><a class="maximenuck " href="/index.php/quito-por-temas/inclusion-social"><span class="titreck">Inclusión social</span></a>
						</li><li class="maximenuck item274 level2 " style="z-index : 11975;"><a class="maximenuck " href="/index.php/quito-por-temas/movilidad"><span class="titreck">Movilidad</span></a>
						</li><li class="maximenuck item275 level2 " style="z-index : 11974;"><a class="maximenuck " href="/index.php/quito-por-temas/salud"><span class="titreck">Salud</span></a>
						</li><li class="maximenuck item270 level2 " style="z-index : 11973;"><a class="maximenuck " href="/index.php/quito-por-temas/seguridad-y-gobernabilidad"><span class="titreck">Seguridad y Gobernabilidad</span></a>
						</li><li class="maximenuck item276 last level2 " style="z-index : 11972;"><a class="maximenuck " href="/index.php/quito-por-temas/territorio-habitat-y-vivienda"><span class="titreck">Territorio, Hábitat y Vivienda</span></a>
						</li>
					</ul>
					<div class="clr"></div></div><div class="clr"></div></div></div><div class="maxidrop-bottom"><div class="maxidrop-bottom2"></div></div></div>
				</li><li class="maximenuck item141 last level1 " style="z-index : 11971;"><a class="maximenuck " href="http://gobiernoabierto.quito.gob.ec/?page_id=7523"><span class="titreck">Transparencia</span></a></li>            </ul>
			</div>
			<div class="maxiroundedright"></div>
			<div style="clear:both;"></div>
		</div>
		<!-- fin maximenuCK -->
	</div>
	
</div>
</div>
</div>    

<div id="all" class="clear">
	
	<div id="tops">
		<div id="top-1">
			<div class="moduletable m_slideshow">
				
				<div id="slideshow-1-5ec30b9324c73" class="wk-slideshow wk-slideshow-default" data-widgetkit="slideshow" data-options='{"style":"default","autoplay":1,"interval":8000,"width":"675px","height":"335px","duration":600,"index":0,"order":"default","navigation":1,"buttons":0,"slices":20,"animated":"scale","caption_animation_duration":800}'>
					<div>
						<ul class="slides">

							<li>
								<article class="wk-content clearfix"><img src="/images/c/rotativo/superior/bn_mascarilla2020.jpg" alt="bn mascarilla2020" width="675" height="335" /></article>
							</li>
							<li>
								<article class="wk-content clearfix"><img src="/images/remote/dataimage-gifbase64R0lGODlhAQABAJEAAAAAAP-------wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw" data-src="/images/c/rotativo/superior/bn_covid.jpg" alt="bn covid" width="675" height="335" /></article>
							</li>
							<li>
								<article class="wk-content clearfix"><a href="https://donaciones.quito.gob.ec" target="_blank"><img src="/images/remote/dataimage-gifbase64R0lGODlhAQABAJEAAAAAAP-------wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw" data-src="/images/c/rotativo/superior/bn_donaciones2020.jpg" alt="bn donaciones2020" width="675" height="335" /></a></article>
							</li>
							<li>
								<article class="wk-content clearfix"><a href="http://pam.quito.gob.ec/PAM/Formularios/InicioActivaTuTienda.aspx" target="_blank"><img src="/images/remote/dataimage-gifbase64R0lGODlhAQABAJEAAAAAAP-------wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw" data-src="/images/c/rotativo/superior/bn_tienda.jpg" alt="bn tienda" width="675" height="335" /></a></article>
							</li>
							<li>
								<article class="wk-content clearfix"><img src="/images/remote/dataimage-gifbase64R0lGODlhAQABAJEAAAAAAP-------wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw" data-src="/images/c/rotativo/superior/bn_cancerm.png" alt="bn cancerm" width="675" height="335" /></article>
							</li>
							<li>
								<article class="wk-content clearfix"><a href="https://pam.quito.gob.ec/PAM/Formularios/AsistenciaTramites.aspx" target="_blank"><img src="/images/remote/dataimage-gifbase64R0lGODlhAQABAJEAAAAAAP-------wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw" data-src="/images/c/rotativo/superior/bn_servicios2.jpeg" alt="bn servicios2" width="901" height="450" /></a></article>
							</li>
							<li>
								<article class="wk-content clearfix"><a href="https://pam.quito.gob.ec/PAM/FormularioComercioAutonomo.aspx" target="_blank"><img src="/images/remote/dataimage-gifbase64R0lGODlhAQABAJEAAAAAAP-------wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw" data-src="/images/c/rotativo/superior/bn_formularioaut.png" alt="bn formularioaut" width="675" height="335" /></a></article>
							</li>
							<li>
								<article class="wk-content clearfix"><a href="https://pam.quito.gob.ec/mdmq_web_irm/irm/buscarPredio.jsf" target="_blank"><img src="/images/remote/dataimage-gifbase64R0lGODlhAQABAJEAAAAAAP-------wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw" data-src="/images/c/rotativo/superior/bn_tierras.jpg" alt="bn tierras" width="675" height="335" /></a></article>
							</li>
							<li>
								<article class="wk-content clearfix"><a href="https://pam.quito.gob.ec/Consultaobligaciones/" target="_blank"><img src="/images/remote/dataimage-gifbase64R0lGODlhAQABAJEAAAAAAP-------wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw" data-src="/images/c/rotativo/superior/bn_predial2020.jpg" alt="bn predial2020" width="675" height="335" /></a></article>
							</li>
						</ul>
						<div class="caption"></div><ul class="captions"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
						<div class="caption-bg"></div>
					</div>
					<ul class="nav"><li><span></span></li><li><span></span></li><li><span></span></li><li><span></span></li><li><span></span></li><li><span></span></li><li><span></span></li><li><span></span></li><li><span></span></li></ul></div>		</div>
					
				</div>
				<div id="top-2">
					<div class="moduletable">
						<div class="random-image">
							<a href="/index.php/municipio/355-estatuto-autonomico-de-quito">
								<img src="/images/top/top_estatuto.jpg" alt="top_estatuto.jpg" width="284.14925373134" height="334" /></a>
							</div>
						</div>
						
					</div>
					<div class="clear"></div>
				</div>
				
				
				<div id="tops">
					<div id="top-3">
						<div class="moduletable m_avs-player">
							<h3>Infórmate</h3>
							
							<div class="avs_player m_avs-player">
								<object id="player" name="player" width="295" height="165"><param name="movie" value="https://www.quito.gob.ec/components/com_allvideoshare/player.swf?random=1040988582" /><param name="wmode" value="opaque" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="flashvars" value="base=https://www.quito.gob.ec/&amp;vid=112&amp;pid=1" /><object type="application/x-shockwave-flash" data="https://www.quito.gob.ec/components/com_allvideoshare/player.swf?random=324757047" width="295" height="165"><param name="movie" value="https://www.quito.gob.ec/components/com_allvideoshare/player.swf?random=1920668548" /><param name="wmode" value="opaque" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="flashvars" value="base=https://www.quito.gob.ec/&amp;vid=112&amp;pid=1" /></object></object></div>
								<h3 class="avs_video_title m_avs-player" style="width:295px;">
								#QuitoAnimalista	</h3>

							</div>
							<div class="moduletable m_avs-gal">
								
								<div id="avs_gallery m_avs-gal" class="avs_gallery m_avs-gal">
									<div class="avs_thumb" style="width:130px;" onclick='javascript:location.href="/index.php/galeria-de-videos?slg=quitoanimalista&amp;orderby=latest"'> 
										<img class="arrow" src="https://www.quito.gob.ec/components/com_allvideoshare/assets/play.gif" border="0" style="margin-left:50px; margin-top:22px;" /> 
										<img class="image" src="https://img.youtube.com/vi/dYIyTczPpWw/default.jpg" style="width:130px; height:70px;" title="Click para Ver : #QuitoAnimalista" border="0" /> 
										<span class="title">#QuitoAnimalista</span> 
										<span class="views"><strong>Vistas : </strong>4984795</span> 
									</div>
									<div style="clear:both;"></div>  <div class="avs_thumb" style="width:130px;" onclick='javascript:location.href="/index.php/galeria-de-videos?slg=plan-metropolitano-de-desarrollo-y-ordenamiento-territorial&amp;orderby=latest"'> 
										<img class="arrow" src="https://www.quito.gob.ec/components/com_allvideoshare/assets/play.gif" border="0" style="margin-left:50px; margin-top:22px;" /> 
										<img class="image" src="https://img.youtube.com/vi/tmS_cBp3LB4/default.jpg" style="width:130px; height:70px;" title="Click para Ver : Plan Metropolitano de Desarrollo y Ordenamiento Territorial" border="0" /> 
										<span class="title">Plan Metropolitano de Desarrollo y Ordenamiento Territorial</span> 
										<span class="views"><strong>Vistas : </strong>803</span> 
									</div>
									<div style="clear:both"></div>
								</div>
								<div class="avsmore"><a class="button-more" href="/index.php/component/allvideoshare/video/0?Itemid=177">Ver más videos</a></div>
							</div>
							<div class="moduletable m_medios m_medios-b">
								

								<div class="custom m_medios m_medios-b"  >
									<div class="item"><a href="http://grupomundodigital.com:8577/stream" target="_blank"><img src="/images/c/b/bn/bn_pacha.jpg" alt="radio municipal" width="95" height="80" /><span>&nbsp;Pacha 102.9 FM</span></a></div>
									<div class="item"><a href="https://www.youtube.com/user/ConcejoQuito/live" target="_blank"> <img src="/images/c/b/bn/inf_sesiones_concejo.jpg" alt="Concejo" width="95" height="80" />&nbsp;<span>Sesiones de Concejo Transmisión en Línea</span></a></div>
									<div class="item"><a href="http://www.quitocultura.info" target="_blank"><img src="/images/c/b/bn/bn_qcultura.jpg" alt="noticias" width="95" height="80" /><span> Agenda de eventos</span></a></div>
									<div class="item"><a href="https://es.scribd.com/document/409308343/El-Quiteno-No-538" target="_blank"><img src="/images/c/b/bn/bn_quitenio2.jpg" alt="en vivo" width="95" height="80" /> Periódico El Quiteño</a></div></div>
								</div>
								<div class="moduletable m_informate m_medios">
									<h3>Servicios</h3>
									

									<div class="custom m_informate m_medios"  >
										<div class="item" style="text-align: left;"><a href="/index.php/municipio/246-portal-tributario"> <img src="/images/c/b/bn/inf_portalt.jpg" alt="impuesto" width="94" height="79" /> Portal tributario</a></div>
										<div class="item"><a href="http://consultamdmq.quito.gob.ec/mdmq_web_login_internet/frmlogin.aspx"> <img src="/images/c/b/bn/inf_sirec.jpg" alt="Bien Inmueble de Propiedad Municipal" width="95" height="80" /> <span>Sistema Integrado de Servicio Catastral</span></a></div>
										<div class="item"><a href="http://gobiernoabierto.quito.gob.ec/"> <img src="/images/c/b/bn/inf_gobabierto.jpg" alt="gobierno abierto" width="95" height="80" /> <span>Gobierno Abierto</span></a></div>
										<div class="item"><a href="http://gobiernoabierto.quito.gob.ec/?page_id=1767"> <img src="/images/c/b/bn/bn_mapatransp.jpg" alt="mapa transporte" width="95" height="80" /> <span>Mapa del Sistema Metropolitano de Transporte</span></a></div></div>
									</div>
									
								</div>
								<div class="clear"></div>
							</div>
							
							<div id="contentarea">
								<div id="wrapper">
									<div id="main" >
										
										<div id="system-message-container">
										</div>
										
										
										<div class="blog-featured">




										</div>

									</div>
								</div>
								
								<div class="clear"></div>
							</div>

						</div>

						<div id="all-ft" class="clear">
							<div id="bottom" class="clear">
								<div class="moduletable m_rot_inferior">
									
									<div id="slideset-7-5ec30b931c50c" class="wk-slideset wk-slideset-sphere" data-widgetkit="slideset" data-options='{"style":"sphere","width":"auto","height":"auto","effect":"slide","index":0,"autoplay":1,"interval":5000,"items_per_set":6,"navigation":0,"buttons":1,"title":0,"duration":300}'>
										<div>
											<div class="sets">
												<ul class="set">
													<li>
														<article class="wk-content"><a href="/index.php/municipio/354-rendicion-de-cuentas-2019"><img src="/images/c/rotativo/bottom/rendicion_cuentas2019.png" alt="rendicion cuentas2016" width="200" height="112" /></a></article>
													</li>
													<li>
														<article class="wk-content"><a href="/index.php/servicios/sitios-seguros"><img src="/images/c/rotativo/bottom/quito-sitioseguro.png" alt="quito-sitioseguro" width="114" height="112" /></a></article>
													</li>
													<li>
														<article class="wk-content"><a href="http://www.decide.quito.gob.ec" target="_blank"><img src="/images/c/rotativo/bottom/quito_participacionc.png" alt="quito participacionc" width="114" height="112" /></a></article>
													</li>
													<li>
														<article class="wk-content"><a href="http://www.biciquito.gob.ec" target="_blank"><img src="/images/c/rotativo/bottom/quito-biciq.png" alt="quito biciq" width="114" height="112" /></a></article>
													</li>
													<li>
														<article class="wk-content"><a href="http://consultamdmq.quito.gob.ec/MDMQ_DMT_Calculador/transferencia.aspx" target="_blank"><img src="/images/c/rotativo/bottom/quito_calculadora.png" alt="quito calculadora" width="114" height="112" /></a></article>
													</li>
												</ul>
											</div>
											<div class="next"></div><div class="prev"></div>	</div>
										</div>		</div>
										
									</div>
									<div id="footer" class="clear">                
										<div class="moduletable m_mapa">
											

											<div class="custom m_mapa"  >
												<div><img src="/images/c/b/mapa_agencias_z.png" alt="mapa agencia" /></div>
												<h3>Administraciones Zonales</h3>
												<p><span class="cald"></span><a href="/index.php/administracion-zonales/administracion-calderon">Calderón</a></p>
												<p><span class="eloy"></span><a href="/index.php/administracion-zonales/administracion-eloy-alfaro">Eloy Alfaro</a></p>
												<p><span class="eugenio"></span><a href="/index.php/administracion-zonales/administracion-eugenio-espejo">Eugenio Espejo</a></p>
												<p><span class="chillos"></span><a href="/index.php/administracion-zonales/administracion-zonal-los-chillos">Los Chillos</a></p>
												<p><span class="delicia"></span><a href="/index.php/administracion-zonales/administracion-la-delicia">La Delicia</a></p>
												<p><span class="manuela"></span><a href="/index.php/administracion-zonales/administracion-zonal-manuela-saenz">Manuela Sáenz</a></p>
												<p><span class="quitumbe"></span><a href="/index.php/administracion-zonales/administracion-zonal-quitumbe">Quitumbe</a></p>
												<p><span class="tumbaco"></span><a href="/index.php/administracion-zonales/administracion-zonal-tumbaco">Tumbaco</a></p>
												<p><span class="mariscal"></span><a href="/index.php/administracion-zonales/administracion-especial-turistica-la-mariscal">Turística La Mariscal</a></p></div>
											</div>
											<div class="moduletable m_footer">
												

												<div class="custom m_footer"  >
													<div class="colum"><strong>EMPRESAS METROPOLITANAS</strong>
														<p><a href="http://www.aguaquito.gob.ec" target="_blank">Agua Potable</a></p>
														<p><a href="http://www.emaseo.gob.ec/" target="_blank">EMASEO</a></p>
														<p><a href="http://www.emgirs.gob.ec" target="_blank">Gestión Integral de Residuos Sólidos</a></p>
														<p><a href="http://www.epmhv.quito.gob.ec/" target="_blank">Hábitat y Vivienda</a></p>
														<p><a href="http://www.metrodequito.gob.ec" target="_blank">Metro Quito</a></p>
														<p><a href="http://www.trolebus.gob.ec/" target="_blank">Metrobus-Q Trole</a></p>
														<p><a href="http://www.epmmop.gob.ec/epmmop/" target="_blank">Movilidad y Obras Públicas</a></p>
														<p><a href="http://www.quito-turismo.gob.ec/" target="_blank">Quito Turismo</a></p>
														<p><a href="http://www.emraqep.gob.ec/" target="_blank">Rastro</a></p>
														<p><a href="http://www.emseguridad-q.gob.ec/" target="_blank">Logística para la Seguridad</a></p>
														<p><a href="http://aeropuertoquito.com/" target="_blank">Servicios Aeroportuarios</a></p>
														<p>&nbsp;</p>
														<p>&nbsp;</p>
													</div>
													<div class="colum">
														<h3>SECRETARÍAS</h3>
														<p><a href="http://www.quitoambiente.gob.ec" target="_blank">Ambiente</a></p>
														<p><a href="/index.php/secretarias/secretaria-de-comunicacion">Comunicación</a></p>
														<p><a href="/index.php/secretarias/secretaria-de-coordinacion-territorial-y-participacion">Coordinación Territorial y Participación</a></p>
														<p><a href="/index.php/secretarias/secretaria-de-cultura">Cultura</a></p>
														<p><a href="http://www.educacion.quito.gob.ec" target="_blank">Educación</a></p>
														<p><a href="/index.php/secretarias/secretaria-de-desarrollo-productivo-y-competitividad">Desarrollo Productivo y Competitividad</a></p>
														<p><a href="/index.php/secretarias/secretaria-de-inclusion-social">Inclusión Social</a></p>
														<p><a href="https://secretariademovilidad.quito.gob.ec/" target="_blank">Movilidad</a></p>
														<p><a href="/index.php/secretarias/secretaria-de-planificacion">Planificación</a></p>
														<p><a href="http://www.salud.quito.gob.ec/" target="_blank">Salud</a></p>
														<p><a href="/index.php/secretarias/secretaria-de-seguridad-y-gobernabilidad">Seguridad y Gobernabilidad</a></p>
														<p><a href="http://sthv.quito.gob.ec/" target="_blank">Territorio, Hábitat y Vivienda</a></p>
													</div>
													<div class="colum">
														<h3>AGENCIAS</h3>
														<p><a href="http://www.amt.gob.ec/" target="_blank">Metropolitana de Tránsito</a></p>
														<p><a href="http://agenciadecontrol.quito.gob.ec/" target="_blank">Metropolitana de Control</a></p>
														<p><a href="http://www.conquito.org.ec/" target="_blank">Metropolitana de Promoción Económica CONQUITO</a></p>
														<p><a href="http://www.comercio.quito.gob.ec" target="_blank">Coordinación Distrital del Comercio</a></p>
														<p>&nbsp;</p>
														<h3>INSTITUTOS</h3>
														<p><a href="http://www.patrimonio.quito.gob.ec" target="_blank">Instituto Metropolitano de Patrimonio</a></p>
														<p><a href="/index.php/component/content/article/35-municipio/257-instituto-metropolitano-de-planificacion-urbana">Instituto Metropolitano de Planificación Urbana</a></p>
														<a href="http://www.institutodelaciudad.com.ec/" target="_blank">Instituto de la Ciudad</a>
														<p>&nbsp;</p>
														<h3>OTRAS DEPENDENCIAS</h3>
														<p><a href="http://registrodelapropiedad.quito.gob.ec" target="_blank">Registro de la Propiedad</a></p>
														<p><a href="http://www.patronato.quito.gob.ec" target="_blank">Patronato Municipal San Jose</a></p>
														<p><a href="http://www.fundacionmuseosquito.gob.ec/" target="_blank">Museos de la Ciudad</a></p>
														<p><a href="http://www.teatrosucre.org" target="_blank">Teatro Sucre</a></p>
														<p><a href="http://www.quitohonesto.gob.ec/" target="_blank">Quito Honesto</a></p>
													</div></div>
												</div>
												
												<div class="direccion">
													<p>Venezuela entre Chile y Espejo<br/>
														Quito - Ecuador<br/>
														Telefono: PBX: (593-2) 3952300 Contac center: 1800 510 510<br/>
														serviciosciudadanos@quito.gob.ec<br/>
													</p>
												</div>
												<div class="texto">
													<p><strong>Copyright © 2020, Municipio del Distrito Metropolitano de Quito. Todos los derechos reservados</strong></p>
												</div>
											</div>
										</div>
									</div>
</html>



<!--  -----------------------------------Modelo Realizado Responsive -------------------------------------------  -->
<!--https://www.quito.gob.ec/-->
<!DOCTYPE html>
<html>

<head>
	<title>Resposive Municipio</title>
	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
<style>
	li.primerMenu {
 	 display: inline;
	}
	li.imagenes {
	  display: inline;
	  margin: 20px 10px 6px 26px;
	}
	input#mod-search-searchword{
		margin: 0 -6px 0 0 !important;
	}
	li.nav-item {
		padding-left: 14px;
		padding-right: 14px;
	}
	.tops{
		position: relative;
		clear: both;
		margin: 0 0 0 0;
		z-index: 5;
	}
	.top1{
		width: 100%;
		margin: 0px;
		padding-top: 10px;
	}
	.top2{
		width: 100%;
		margin: 0px;
		padding-top: 10px;
	}
	.tit > h3{
		background: #2C5897;
		color: #FFFFFF;
		font-size: 16px !important;
		line-height: 30px;
		font-weight: normal;
		text-align: center;
		text-shadow: 1px 1px 1px #333;
		padding: 0;
		margin: 0 0 5px;
	}
	 h3.avs_video_title{
		width: auto !important;
		height: 26px;
		overflow: hidden;
		font-size: 12px !important;
		line-height: 105%;
		color: #333 !important;
		text-align: left;
		margin: 0px !important;
		border: none !important;
		text-shadow: none;
		text-transform: none;
		font-weight: normal;
		border: none !important;
		background: #E4E4E4;
	}
	.m_medios .item{
		width: 100%;
		height: 80px;
		position: relative;
		margin: 0 6px 6px 0;
		display: table;
		overflow: hidden;
		background-color: #DBDBDB;
		background-image: -moz-linear-gradient(top, #E4E4E4, #D6D6D6);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E4E4E4), to(#D6D6D6));
		background-image: -webkit-linear-gradient(top, #E4E4E4, #D6D6D6);
		background-image: -o-linear-gradient(top, #E4E4E4, #D6D6D6);
		background-image: linear-gradient(to bottom, #E4E4E4, #D6D6D6);
		background-repeat: repeat-x;
	}
	element.style{
		width: 756px;
    display: block;
    height: 112px;
    margin: 0px auto;
	}
	
</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<di class="col-md-8">
				<div class="col-md-12">
					<a href="https://www.quito.gob.ec/">
						<img src="https://www.quito.gob.ec/templates/ezone/img/logos/logows.png" alt="logo">
					</a>
				</div>
			</di>
			<di class="col-md-4"> 
				<div class="col-md-12">
					<ul class="menu">
						<li class="primerMenu"><a href="http://www.quito.gob.ec/index.php/mapa-del-sitio" target="_blank">Mapa
								del Sitio</a></li>
						<li class="primerMenu"><a
								href="https://correo.quito.gob.ec/owa/auth/logon.aspx?replaceCurrent=1&amp;url=https%3a%2f%2fcorreo.quito.gob.ec%2fowa%2f"
								target="_blank">Correo institucional</a></li>
						<li class="primerMenu"><a href="https://www.quito.gob.ec/index.php/contactenos">Contáctenos</a></li>
					</ul>
				</div>
				<div class="col-md-12">
					<form action="https://www.quito.gob.ec/index.php" method="post">
						<div class="search m_search">
							<label for="mod-search-searchword"></label>
							<input name="searchword" size="25" id="mod-search-searchword" maxlength="20" class="inputbox m_search" type="text" size="25" value="Buscar..." >
							<input type="submit" value="Buscar" class="button m_search">
						</div>
					</form>
				</div>
			</di>
		</div>
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<lu class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<a class="nav-link" href="#">INICIO <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">MUNICIPIO <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">SERVICIOS CIUDADANOS <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">TURISMO <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">NOTICIAS <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">QUITO POR TEMAS <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">TRANSFERENCIA <span class="sr-only">(current)</span></a>
						</li>
					</lu>
				  </nav>
			</div>
		</div>
		<div class="row tops">
			<div class="col-md-8 top1">
					<img src="https://www.quito.gob.ec/images/c/rotativo/superior/bn_mascarilla2020.jpg" width="100%">
			</div>
			<div class="col-md-4 top2">
					<img src="https://www.quito.gob.ec/images/top/top_estatuto.jpg" width="100%">
			</div>
		</div>
		<div class="row tops">
			<div class="col-md-8 tit">
				<h3>Infórmate</h3>
			</div>
			<div class="col-md-4 tit">
				<h3>Servicios</h3>
			</div>
		</div>
		<div class="row tops">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<p><iframe width="100%" height="50%" src="https://www.youtube.com/embed/dYIyTczPpWw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
						<div class="row">
							<div class="col-md-12">
								<h3 class="avs_video_title m_avs-player">#Quito Animalista</h3>
							</div>
						</div>
						<div class="row avs_video_title m_avs-player">
							<div class="col-md-12">
								<a href="http://grupomundodigital.com:8577/stream" target="_blank">
									<img src="https://img.youtube.com/vi/dYIyTczPpWw/default.jpg" alt="radio municipal" width="95" height="60">
									<span>&nbsp;QUITO ANIMALISTA</span>
								</a>
							</div>
						</div>
						<div class="row avs_video_title m_avs-player">
							<div class="col-md-12">
								<a href="http://grupomundodigital.com:8577/stream" target="_blank">
									<img src="https://img.youtube.com/vi/tmS_cBp3LB4/default.jpg" alt="radio municipal" width="95" height="60">
									<span>&nbsp;Plan Metropolitano</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 m_medios">
						<div class="row item">
							<div class="col-md-12">
								<a href="http://grupomundodigital.com:8577/stream" target="_blank">
									<img src="https://www.quito.gob.ec/images/c/b/bn/bn_pacha.jpg" alt="radio municipal" width="95" height="80">
									<span>&nbsp;Pacha 102.9 FM</span>
								</a>
							</div>
						</div>
						<div class="row item">
							<div class="col-md-12">
								<a href="http://grupomundodigital.com:8577/stream" target="_blank">
									<img src="https://www.quito.gob.ec/images/c/b/bn/inf_sesiones_concejo.jpg" alt="radio municipal" width="95" height="80">
									<span>&nbsp;SESIONES DE CONSEJO</span>
								</a>
							</div>
						</div>
						<div class="row item">
							<div class="col-md-12">
								<a href="http://grupomundodigital.com:8577/stream" target="_blank">
									<img src="https://www.quito.gob.ec/images/c/b/bn/bn_qcultura.jpg" alt="radio municipal" width="95" height="80">
									<span>&nbsp;AGENDA DE ENVENTOS</span>
								</a>
							</div>
						</div>
						<div class="row item">
							<div class="col-md-12">
								<a href="http://grupomundodigital.com:8577/stream" target="_blank">
									<img src="https://www.quito.gob.ec/images/c/b/bn/bn_quitenio2.jpg" alt="radio municipal" width="95" height="80">
									<span>&nbsp;PERIODICO EL QUITEÑO</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 m_medios">
				<div class="row item">
					<div class="col-md-12">
						<a href="http://grupomundodigital.com:8577/stream" target="_blank">
							<img src="https://www.quito.gob.ec/images/c/b/bn/inf_portalt.jpg" alt="radio municipal" width="95" height="80">
							<span>&nbsp;Pacha 102.9 FM</span>
						</a>
					</div>
				</div>
				<div class="row item">
					<div class="col-md-12">
						<a href="http://grupomundodigital.com:8577/stream" target="_blank">
							<img src="https://www.quito.gob.ec/images/c/b/bn/inf_sirec.jpg" alt="radio municipal" width="95" height="80">
							<span>&nbsp;Pacha 102.9 FM</span>
						</a>
					</div>
				</div>
				<div class="row item">
					<div class="col-md-12">
						<a href="http://grupomundodigital.com:8577/stream" target="_blank">
							<img src="https://www.quito.gob.ec/images/c/b/bn/inf_gobabierto.jpg" alt="radio municipal" width="95" height="80">
							<span>&nbsp;Pacha 102.9 FM</span>
						</a>
					</div>
				</div>
				<div class="row item">
					<div class="col-md-12">
						<a href="http://grupomundodigital.com:8577/stream" target="_blank">
							<img src="https://www.quito.gob.ec/images/c/b/bn/bn_mapatransp.jpg" alt="radio municipal" width="95" height="80">
							<span>&nbsp;Pacha 102.9 FM</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row im">
			<ul>
				<li class="imagenes"> 
						<a href="https://www.quito.gob.ec/index.php/municipio/354-rendicion-de-cuentas-2019">
							<img src="https://www.quito.gob.ec/images/c/rotativo/bottom/rendicion_cuentas2019.png" alt="rendicion cuentas2016" width="200" height="112">
						</a>
				</li>
				<li class="imagenes">
						<a href="https://www.quito.gob.ec/index.php/municipio/354-rendicion-de-cuentas-2019">
							<img src="https://www.quito.gob.ec/images/c/rotativo/bottom/quito-sitioseguro.png" alt="rendicion cuentas2016" width="200" height="112">
						</a>
				</li>
				<li class="imagenes">
						<a href="https://www.quito.gob.ec/index.php/municipio/354-rendicion-de-cuentas-2019">
							<img src="https://www.quito.gob.ec/images/c/rotativo/bottom/quito_participacionc.png" alt="rendicion cuentas2016" width="200" height="112">
						</a>
				</li>
				<li class="imagenes">
						<a href="https://www.quito.gob.ec/index.php/municipio/354-rendicion-de-cuentas-2019">
							<img src="https://www.quito.gob.ec/images/c/rotativo/bottom/quito-biciq.png" alt="rendicion cuentas2016" width="200" height="112">
						</a>
				</li>
			</ul>
		</div>
		<div class="row tops">
			<div class="col-md-12">
				<img src="https://www.dankar.me/wp-content/uploads/2020/05/cocercioQuito.png" width="100%">
			</div>
		</div>
	</div>
</body>

</html>